 .menuBar-wrapper {
     ul.menu-list {
         list-style: none;
         display: inline-block;
         li {
             display: inline-block;
             padding: 10px 20px;
             cursor: pointer;
             background-color: #eee;
             color: #7B8585;
             -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
             -ms-transition: 0.3s;
             -o-transition: 0.3s;
             transition: 0.3s;
             width: 50px;
             text-align: center;
             @include font-size(12px);
             &:hover {
                 background-color: #beecea;
             }
             &.focused {
                 color: #fff;
                 background-color: #41c7c2;
             }
         }
     }
 }
